<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap"
      rel="stylesheet"
    />
    <title>Simon Jolet</title>
  </head>
  <body>
    <div class="formation">
      Formation et expériences professionnelles:
      <div id="becodeLogo">
        Mai 2019-Décembre 2019: Formation de Web Dev, BeCode Liège.
      </div>
      <div class="cuisine">
        Travail dans plusieurs restaurants gastronomiques en tant que cuisinier.
      </div>
    </div>
    <div class="extraScolaire">
      <div id="Coderdojo">
        Organisation du CoderDojo Becode Liège et participation au coaching.
      </div>
      <div id="redCross">
        Particpation au Code-A-Thon red RedCross
      </div>
    </div>
  </body>
</html>
