<body>
  <div *ngIf="router.url === '/resume'">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="CV">Motivation:</div>
  <div class="presentation">
    <p>
      Après quelques années dans l'HORECA, je me suis ré-orienté dans un nouveau
      défi: le <strong>développement web</strong> .
    </p>

    <p>
      J'ai eu la chance d'intégrer la formation <strong>BeCode </strong>et de
      pouvoir profiter d'un enseignement en <strong>pédagogie active</strong> ,
      basé sur la recherche, l'essai-erreur et des projets de groupe.
      <br />
      J'y ai appris les bases de nombreux outils, de technologies aussi simples
      que Git ou HTML5, à d'autres plus pointues comme GraphQL, Angular ou
      React.
      <br />
      Au fil des mois, j'ai appronfondi le coté
      <strong>front-end</strong>,tout en pouvant me pencher un peu sur le
      back-end.
    </p>

    <p>
      J'ai également pu améliorer mes <strong>softskills</strong>, notamment
      grâce à la découverte de sujet et leur présentation devant le groupe,
      l'organisation et le coaching dans le cadre de
      <strong>Coder Dojo</strong> et à la participation à des
      <strong>hackathons</strong>. <br />
      J'ai tiré beaucoup d'enseignements et de satisfaction de toutes ces
      nouvelles expériences.
    </p>

    <p>
      J’ai ensuite enchainé avec un stage en milieu professionnel,
      dans la société <strong>Noomia</strong>, une référence en matière de <strong>Wordpress</strong> en région liégeoise.
      <br />
      Là-bas, ils m'ont aidé à professionnaliser mon approche du code, en particulier en terme d’<strong>intégration</strong>. <br />
      J'ai aussi été plongé dans le développement mobile, pour une application en interne: une première autant pour moi que pour eux.
    </p>

    <p>
      Ce stage terminé, je pars à la recherche d'un <strong>emploi</strong>. <br />
      Aussi bien lors de ma formation que lors de mon stage, c'est dans l'intégration de designs que je me suis le plus épanouis.<br/>
      J'aime voir ce que je fais, et arriver au meilleur résultat possible pour l'<strong>utilisateur</strong> (peut-être un héritage de ma vie de cuisinier).<br/>
      C'est pourquoi je recherche en premier lieu un travail d'intégrateur.
      J'aimerais aussi, à terme, me diriger vers un poste plus axé sur la <strong>communication</strong>. En effet, j'aime le contact et développer des idées nouvelles.
    </p>
  </div>
</body>
