<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap"
      rel="stylesheet"
    />
    <title>Simon Jolet</title>
  </head>
  <body>
    <div *ngIf="router.url === '/resume'">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="CV">Motivation:</div>
    <div class="presentation">
      <p>
        Après quelques années dans l'HORECA, je me suis ré-orienté dans un
        nouveau défi: le <strong>web développement</strong> .
      </p>

      <p>
        J'ai eu la chance d'intégrer la formation <strong>BeCode</strong> et de
        pouvoir profiter d'un enseignement en
        <strong>pédagogie active</strong> , basé sur la recherche, sur
        l'essai-erreur et sur des projets de groupe.
        <br />
        J'y ai appris les bases de nombreux outils, de choses aussi simples que
        Git ou HTML5, à des choses plus pointues comme GraphQL, Angular ou
        React.
        <br />
        Au fil des mois, je me suis orienté vers le
        <strong>front-end</strong>. Cependant, j'ai pu acquérir certaines
        compétences en back-end.
      </p>

      <p>
        J'ai également pu améliorer mes <strong>softskills</strong>, notamment
        grâce à la découverte de sujet et leur présentation devant le groupe,
        l'organisation et le coaching dans le cadre de
        <strong>Coder Dojo</strong> et à la participation à des
        <strong>hackathons</strong>. <br />
        J'ai tiré beaucoup d'enseignements et de satisfactions de toutes ces
        nouvelles expériences.
      </p>
      <p>
        J'arrive à présent en fin de formation, et donc au moment clé de la
        recherche de <strong>stage</strong>. <br />
        J'affronte cette nouvelle étape avec un brin d'appréhension, mais
        surtout beaucoup de <strong>détermination</strong> et d'envie.
      </p>
    </div>
  </body>
</html>
