.haut {
  margin: 4vw;
  margin-top: 7vw;
  display: flex;
}
.Photoprofil {
  border-radius: 2%;
}

.infoHaut {
  font-family: "Roboto Mono", monospace;
  margin-left: 2vw;
  margin-top: -2.3vw;
}
.infoBas {
  display: flex;
  justify-content: space-around;
  background-color: #eae7e7;
  font-family: "Roboto Mono", monospace;
  padding: 1vw;
  margin: 2vw;
}
.barcontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mail {
  @extend .barcontact;
}
.iconTelephone {
  @extend .barcontact;
}
.iconAdresse {
  @extend .barcontact;
}
.iconVoiture {
  @extend .barcontact;
}
.adresse {
  text-align: center;
}

#iconMail {
  width: 3vw;
  height: auto;
}

#iconTelephone {
  width: 3vw;
  height: auto;
}

#iconAdresse {
  width: 3vw;
  height: auto;
}

#iconVoiture {
  width: 3vw;
  height: auto;
}

.droite {
  padding-left: 2vw;
  font-size: 1.95vw;
}
.CeQueJeCherche {
  font-family: "Space Mono", monospace;
}
.Naissance {
  padding-left: 1vw;
  display: flex;
  align-items: center;
  font-size: 1.8vw;
}
.name {
  font-family: "Space Mono", monospace;
  font-size: 6vw;
  margin-bottom: 1vw;
}
.Secteur {
  padding-left: 1vw;
  display: flex;
  align-items: center;
  font-size: 1.8vw;
}
.Objectif {
  padding-left: 1vw;
  display: flex;
  align-items: center;
  font-size: 1.8vw;
}
.date {
  padding-left: 1vw;
  display: flex;
  align-items: center;
  font-size: 1.8vw;
}
#naissanceIcon {
  width: 2.5vw;
  height: auto;
  padding: 1vw;
}
#ObjectifIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}
#SecteurIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}
#dateIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}
