<body>
  <div *ngIf="router.url === '/xp'">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="formation">
    <p class="formationTitre">
      Formation et expériences professionnelles:
    </p>
    <div id="becodeLogo">
      <a
        id="becodeLogoLink"
        href="https://www.becode.org/partners/?gclid=EAIaIQobChMIhvmFverS5QIVk-R3Ch0YdAlhEAAYASABEgLUYfD_BwE"
        target="_blank"
      >
        <img
          class="logo_Becode"
          src="../../../assets/logo_Becode.png"
          alt="Becode"
          width="25vw"
          height="auto"
        />
      </a>
      Mai 2019-Décembre 2019: Formation de Web Dev, BeCode Liège
    </div>
    <div class="cuisine">
      <img
        class="cuisineLogo"
        src="https://img.icons8.com/dotty/500/000000/cook-male.png"
        width="25vw"
        height="auto"
      />
      2012-2019: Cuisinier dans plusieurs restaurants gastronomiques
    </div>
    <div class="ecole">
      <img
        class="ecoleLogo"
        src="https://img.icons8.com/dotty/80/000000/diploma.png"
        width="25vw"
        height="auto"
      />
      2004-2010: CESS, enseignement général à l'Athénée Air Pur de Seraing
    </div>
  </div>
  <div class="extraScolaire">
    <div class="autreExperience">Autres expériences:</div>
    <div id="Coderdojo">
      <img
        class="coderdojoLogo"
        src="../../../assets/coderdojo.png"
        alt="Coder Dojo"
        width="25vw"
        height="auto"
      />
      Organisation du CoderDojo Becode Liège et participation au coaching.
    </div>
    <div id="redCross">
      <img
        class="redcrossLogo"
        src="../../../assets/redCross.png"
        alt="red Cross"
        width="25vw"
        height="auto"
      />
      Participation au Code-A-Thon RedCross
    </div>
  </div>
</body>
