<body>
  <div *ngIf="router.url === '/badges'">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="xp">Expérience avec:</div>
  <div class="techniques">
    <div id="html5">
      <a
        href="https://api.badgr.io/public/assertions/2r1WKnt1RGi-9RvCRpdsTw"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/color/124/000000/html-5.png"
          alt="HTML5"
      /></a>
    </div>

    <div id="CSS3">
      <a
        href="https://api.badgr.io/public/assertions/Ex1sNBQQT8KDn0t8AKOAPg"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/color/124/000000/css3.png"
          alt="CSS3"
      /></a>
    </div>

    <div id="JS">
      <a
        href="https://api.badgr.io/public/assertions/G9GnKchbTPeb_VBivRAoNA"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/color/124/000000/javascript.png"
          alt="javascript"
        />
      </a>
    </div>

    <div id="github">
      <a
        href="https://api.badgr.io/public/assertions/N4S3vz19RWukYuSJyJewew"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/material-outlined/124/000000/github.png"
          alt="github"
      /></a>
    </div>
    <div id="React">
      <a
        href="https://api.badgr.io/public/assertions/phE7RsBcS5-FhdJpOH4jdw"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/color/124/000000/react-native.png"
          alt="React"
      /></a>
    </div>
    <div id="angular">
      <a
        href="https://api.badgr.io/public/assertions/jKBYTBJGQfeTK6xw0BFDGg"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/color/124/000000/angularjs.png"
          alt="angular"
      /></a>
    </div>
    <div id="node">
      <a
        href="https://api.badgr.io/public/assertions/ykgWyd3ES0qp54jan5njUQ"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/color/124/000000/nodejs.png"
          alt="nodejs"
      /></a>
    </div>
    <div id="sass">
      <a
        href="https://api.badgr.io/public/assertions/8fGHZrNcRHm9-WWPpn9cYg"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/windows/124/000000/sass.png"
          alt="sass"
      /></a>
    </div>
    <div id="graphQL">
      <img
        class="badge"
        src="https://img.icons8.com/color/124/000000/graphql.png"
        alt="graphQL"
      />
    </div>
    <div id="WordPress">
      <a
        href="https://api.badgr.io/public/assertions/gmTGZNKLTJaKxxEBRCHCCQ"
        target="_blank"
      >
        <img
          class="badge"
          src="https://img.icons8.com/color/124/000000/wordpress.png"
          alt="wordpress"
      /></a>
    </div>
  </div>
  <div class="softskills">
    <div class="softskillsTitle">Soft skills:</div>
    <ul>
      <a
        href="https://api.badgr.io/public/assertions/5GZoBPHASx2z7oi1DojrnQ"
        target="_blank"
      >
        <li>Esprit d'équipe</li></a
      >
      <br />
      <li>Travailleur</li>
      <br />
      <a
        href="https://api.badgr.io/public/assertions/KPZAmCorS9-qMsvm9hTwmw"
        target="_blank"
      >
        <li>Communication facile</li></a
      >
    </ul>
  </div>
</body>
