.titre {
  font-family: "Space Mono", monospace;
  font-size: 3vw;
  margin: 4vw;
  margin-bottom: 2vw;
  position: relative;
  display: inline-block;
}
.titre::after {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #000;
  animation: souligneTitre 2s ease-in-out 1s;
  animation-fill-mode: forwards;
}

@keyframes souligneTitre {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: #000;
}

.titrePartie {
  font-family: "Roboto Mono", monospace;
  font-size: 3vw;
  margin: 3vw;
  margin-left: 6vw;
  margin-bottom: 1vw;
}
.descriptionPartie {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5vw;
  margin: 1vw;
  margin-left: 7vw;
}
.cestRegleTitre {
  @extend .titrePartie;
}
#imgPlaceHolder {
  display: inline-block;
  width: 50%;
}
.hoverImg {
  display: block;
  width: 100%;
  border-radius: 1vw;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
    overflow: hidden;
    box-shadow: 2vw 1vw 1vw #cbcbcb;
  }
}
.cestRegleImg {
  @extend .hoverImg;
}
.trouvkashImg {
  @extend .hoverImg;
}
.bookAPIImg {
  @extend .hoverImg;
}
.trouvkashTitre {
  @extend .titrePartie;
}

.bookAPITitre {
  @extend .titrePartie;
}
.cestRegleDescription {
  @extend .descriptionPartie;
}
.trouvkashDescription {
  @extend .descriptionPartie;
}
.bokkAPIDescription {
  @extend .descriptionPartie;
}
.flex {
  margin-left: 7vw;
  display: flex;
  align-items: center;
}

.deployButton {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2vw;
  font-weight: bold;
  width: 14vw;
  height: 14vw;
  margin-left: 4vw;
  background-color: #d6eaf8;
  border: 1px solid #fc011c;
  border-radius: 50%;
  transition: 1s;
  &:hover {
    transform: scale(1.2);
    background-color: white;
    font-size: 1.8vw;
    cursor: pointer;
  }
}
.githubButton {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2vw;
  font-weight: bold;
  width: 14vw;
  height: 14vw;
  margin-left: 2vw;
  background-color: #fae5d3;
  border: 1px solid #fc011c;
  border-radius: 50%;
  transition: 1s;
  &:hover {
    transform: scale(1.2);
    background-color: white;
    font-size: 1.8vw;
    cursor: pointer;
  }
}
.bookAPI {
  margin-bottom: 6vw;
}
