body {
  display: -ms-grid;
  display: grid;
  margin: 0;
  -ms-grid-columns: 17% 20% 46% 17%;
      grid-template-columns: 17% 20% 46% 17%;
  -ms-grid-rows: 10vw 1fr 10vw;
      grid-template-rows: 10vw 1fr 10vw;
  font-family: "Roboto Mono", monospace;
}

.gauche {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2% 96% 2%;
      grid-template-columns: 2% 96% 2%;
  -ms-grid-rows: 62% 38%;
      grid-template-rows: 62% 38%;
  text-align: center;
  padding-top: 0.5vw;
  font-size: 1.2vw;
}

.Photoprofil {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.infoGauche {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9% 82% 9%;
      grid-template-columns: 9% 82% 9%;
  -ms-grid-rows: 3% 19% 12% 3% 19% 12% 3% 19% 16% 5% 19% 12%;
      grid-template-rows: 3% 19% 12% 3% 19% 12% 3% 19% 16% 5% 19% 12%;
}

.iconMail {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#iconMail {
  width: 3vw;
  height: auto;
}

.mail {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.iconTelephone {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

#iconTelephone {
  width: 3vw;
  height: auto;
}

.telephone {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.iconAdresse {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

#iconAdresse {
  width: 3vw;
  height: auto;
}

.adresse {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.iconVoiture {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

#iconVoiture {
  width: 3vw;
  height: auto;
}

.voiture {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.droite {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding-left: 2vw;
  font-size: 1.95vw;
}

.CeQueJeCherche {
  font-family: "Space Mono", monospace;
}

.Naissance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  font-family: "Space Mono", monospace;
  font-size: 6vw;
}

.Secteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Objectif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#naissanceIcon {
  width: 2.5vw;
  height: auto;
  padding: 1vw;
}

#ObjectifIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}

#SecteurIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}

#dateIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}
/*# sourceMappingURL=sidebar.component.css.map */