<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <title>Simon Jolet</title>
  </head>
  <body>
    <img
      class="Photoprofil"
      src="../../../assets/photo Cv en ligne.png"
      alt="PhotoCV"
    />
    <div class="name">Simon Jolet</div>
    <div class="adresse">Quai de la Dérivation 11/3, 4020 Liège</div>
    <div class="telephone">0474/76.35.27</div>
    <div class="Naissance">5 septembre 1992</div>
    <div class="Voiture">Possession d'une voiture et du permis B</div>
    <div class="Objectif">Stage</div>
    <div class="date">2 à 3 mois à partir du 9 décembre 2019</div>
    <div class="Secteur">Secteur d'activité: Web Dev (Front-end)</div>
  </body>
</html>
