body {
  display: grid;
  margin: 0;
  grid-template-columns: 17% 20% 46% 17%;
  grid-template-rows: 10vw 1fr 10vw;
  font-family: "Roboto Mono", monospace;
}
.gauche {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: 62% 38%;
  text-align: center;
  padding-top: 0.5vw;
  font-size: 1.2vw;
}
.Photoprofil {
  grid-column: 2/3;
  grid-row: 1/2;
}
.infoGauche {
  grid-column: 1/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 9% 82% 9%;
  grid-template-rows: 3% 19% 12% 3% 19% 12% 3% 19% 16% 5% 19% 12%;
}
.iconMail {
  grid-column: 2/3;
  grid-row: 2/3;
}
#iconMail {
  width: 3vw;
  height: auto;
}
.mail {
  grid-column: 2/3;
  grid-row: 3/4;
}
.iconTelephone {
  grid-column: 2/3;
  grid-row: 5/6;
}
#iconTelephone {
  width: 3vw;
  height: auto;
}
.telephone {
  grid-column: 2/3;
  grid-row: 6/7;
}

.iconAdresse {
  grid-column: 2/3;
  grid-row: 8/9;
}
#iconAdresse {
  width: 3vw;
  height: auto;
}
.adresse {
  grid-column: 2/3;
  grid-row: 9/10;
}
.iconVoiture {
  grid-column: 2/3;
  grid-row: 11/12;
}
#iconVoiture {
  width: 3vw;
  height: auto;
}
.voiture {
  grid-column: 2/3;
  grid-row: 12/13;
}
.droite {
  grid-column: 3/4;
  grid-row: 2/3;
  padding-left: 2vw;
  font-size: 1.95vw;
}
.CeQueJeCherche {
  font-family: "Space Mono", monospace;
}
.Naissance {
  display: flex;
  align-items: center;
}
.name {
  font-family: "Space Mono", monospace;
  font-size: 6vw;
}
.Secteur {
  display: flex;
  align-items: center;
}
.Objectif {
  display: flex;
  align-items: center;
}
.date {
  display: flex;
  align-items: center;
}
#naissanceIcon {
  width: 2.5vw;
  height: auto;
  padding: 1vw;
}
#ObjectifIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}
#SecteurIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}
#dateIcon {
  width: 3vw;
  height: auto;
  padding: 1vw;
}
