<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />

    <title>Simon Jolet</title>
  </head>
  <body></body>
</html>

<html>
  <div class="HomeComponent">
    <div class="PhotoInfo">
      <img
        class="ProfilePic"
        src="../../../assets/photo Cv en ligne.png"
        alt="ProfilePic"
      />
      <div class="Info">
        <div class="name" id="homeLine">
          <img
            class="IconHome"
            id="LogoName"
            src="https://img.icons8.com/ios-filled/36/000000/name.png"
            alt="LogoName"
          />
          Simon Jolet
        </div>
        <div class="Job" id="homeLine">
          <img
            class="IconHome"
            id="IconJob"
            src="https://img.icons8.com/metro/36/000000/under-computer.png"
            alt="IconJob"
          />
          Junior Web Developper
        </div>
        <div class="GitHub" id="homeLine">
          <img
            class="IconHome"
            src="https://img.icons8.com/windows/36/000000/github.png"
            alt="GitHubLogo"
            id="GitHubLogo"
          />
          https://github.com/SImonJolet
        </div>
        <div class="LinkedIn" id="homeLine">
          <img
            class="IconHome"
            src="https://img.icons8.com/color/36/000000/linkedin-circled.png"
            alt="LinkedInLogo"
            id="LinkedInLogo"
          />
          https://www.linkedin.com/in/simonjolet/
        </div>
        <div class="NPM" id="homeLine">
          <img
            class="IconHome"
            src="https://img.icons8.com/color/36/000000/npm.png"
            alt="NPMLogo"
            id="NPMLogo"
          />
          https://www.npmjs.com/~simonjolet
        </div>
      </div>
    </div>
    <a routerLink="/navbar">
      <button type="button" class="buttonMore">More...</button></a
    >
  </div>
</html>
